
/* Your CSS Code here. */
table{
	margin:2rem 0em;
	width:100%;
	padding:2px;
	border: 2px solid black;
	
}
th{
	border: 2px solid black;
}
td{
	text-align:center;
	border: 2px solid black;
}
.html{
	text-align:center;
	background-color:black;
	color:white;
}