
/* Your CSS Code here. */
body{
	display:flex;
	justify-content:center;
	align-items:center;
}
table{
	margin:2rem 0em;
	width:100%;
	padding:2px;
	border: 2px solid black;
	
}
th{
	border: 2px solid black;
}
td{
	border: 2px solid black;
}
td .html{
	text-align:center;
	background-color:black;
	color:white;
}